
*.wav
*.mxl
*.txt
*.ods
*.odp
*.pptx
*.pdf
*.html

fuzzy_methods_readme.drawio
/src/test*
/src/main_stats.py
/src/*MT3*
/src/utils_cluster*
/src/*test*
/src/*poster*
/src/*ICCCM*
/src/*

/src/poster.py
/src/temp*.py

*__pycache__
*/archive/*

/data/raw/*/*/*.csv
/data/raw/*/*/*.mid
/data/raw/*/*/*.musicxml
/data/raw/*/*/*.mp3

/data/processed/CANTO_JRP/
/data/processed/JRP/
/data/processed/Palestrina/

/results/figures/*/*/*/*.png
/results/figures/*/*/*.png
/results/figures/*/*.png
/results/figures/*/*/*/*.jpg
/results/figures/*/*/*.jpg
/results/figures/*/*.jpg
/results/output/*

/data/raw/chromaticism_modes/
/data/raw/grillo/
/data/raw/lassus_durus-g2-a_motets/
/data/raw/modal_cycles_1131/
/data/raw/modal_subjectivities/
/data/raw/MT3/
/data/raw/Palestrina_Vergine_bella/
/data/raw/ren8/
/data/raw/repair_add_modal_cycles/
/data/raw/spem/
/data/raw/zomerproject_2023/

/data/processed/CANTO_JRP/
/data/processed/JRP/
/data/processed/Palestrina/
